<launch>
  <node name="line_detection_fu_node" pkg="line_detection_fu" type="line_detection_fu_node" output="screen" >  
    <param name="cam_w"                         type="int"    value="640"/>  
    <param name="cam_h"                         type="int"    value="480"/> <!--we will use only bottom half of this...-->	
<!-- 	<param name="proj_y_start"            	    type="int"	  value="50"/>
 -->
 <!--go right-->  	
   	<param name="minYPolyRoi"            	type="int" 	  value="100"/>
    <param name="slop"                          type="int"    value="100"/>
    <param name="slop_left"                     type="int"    value="100"/>
    <param name="defaultXRight"                 type="int"    value="370"/>
    <param name="defaultXCenter"                type="int"    value="280"/>
    <param name="defaultXLeft"                  type="int"    value="190"/>
    <param name="rotateRight"                   type="bool"    value="1"/>
    <param name="angleAdjacentLeg"              type="int"    value="300"/>
    <param name="interestDistanceDefault"       type="int"    value="20"/>
    <param name="interestDistancePoly"          type="int"    value="20"/> 

    
<!-- go left +80 -->
<!--<param name="minYPolyRoi"                   type="int"    value="50"/>
    <param name="slop"                          type="int"    value="100"/>
    <param name="slop_left"                     type="int"    value="320"/>
    <param name="defaultXRight"                 type="int"    value="420"/>
    <param name="defaultXCenter"                type="int"    value="130"/>
    <param name="defaultXLeft"                  type="int"    value="-174"/>
    <param name="rotateRight"                   type="bool"   value="0"/>
    <param name="angleAdjacentLeg"              type="int"    value="300"/>
    <param name="interestDistanceDefault"       type="int"    value="50"/>-->


    <param name="camera_name"     		type="string"   value="/app/camera/rgb/image_raw"/>
  </node>
s
</group>
</launch>
